<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>e2e</td><td>LoginTest.test_login_api()[pri:1, instance:com.api.tests.LoginTest@55f3ddb1]<br/></td></tr>
<tr><td>sanity</td><td>LoginTest.test_login_api()[pri:1, instance:com.api.tests.LoginTest@55f3ddb1]<br/></td></tr>
<tr><td>smoke</td><td>LoginTest.test_login_api()[pri:1, instance:com.api.tests.LoginTest@55f3ddb1]<br/></td></tr>
</table>
