<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9f9fb0">  <td>23/04/15 19:54:38</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.setup()[pri:0, instance:com.api.tests.LoginTest@55f3ddb1]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@239465106</td>   <td></td> </tr>
<tr bgcolor="9f9fb0">  <td>23/04/15 19:54:41</td>   <td>2133</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.test_login_api()[pri:1, instance:com.api.tests.LoginTest@55f3ddb1]">test_login_api</td> 
  <td>main@239465106</td>   <td></td> </tr>
</table>
